@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
header{
    padding:128px 165px 0 165px;
    background-color: #0E0E0E;
    @media screen and (max-width:992px ){
        padding: 50px 30px;   
    }
    .container{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: space-between;
        background-color: #0E0E0E;
        color:#fff;
        padding-bottom: 23px;
        border-bottom: 1px solid #fff;
        .svg1{
            display: none;
            @media screen and (max-width:992px ){
                display:block;   
            }
        }
        img{
            width: 143px;
            height: 25px;
        }
        nav{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap:34px;
            @media screen and (max-width:992px ){
                display: none;   
            }
            .son{
                font-family: Manrope;
                font-weight: 700;
                font-size: 13px;
                line-height: 25px;
                letter-spacing: 2px;
                text-transform: uppercase;

            }
        }
    }
}
.hero{
    padding:0px 165px ;
    background-color: #0E0E0E;
    @media screen and (max-width:992px ){
        padding: 50px 30px;
         
    }
    .container{
        background-color: #0E0E0E;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position:relative;
        height:auto;
        /* gap:30px; */
        .content{
            width:35%;
            display: flex;
            flex-direction: column;
            gap:24px;
            @media screen and (max-width:992px ){
                width: 50%;   
                align-items: center;
                justify-content: center;
                position:absolute;
                top:calc(50% - 25%);
                left:calc(50% - 25%);
                text-align: center;

            }
            p{
                font-family: Manrope;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 10px;
                text-transform: uppercase;
                color: #ffffff8d;
            }
            h1{
            font-family: Manrope;
            font-weight: 700;
            font-size: clamp(36px, 5vw, 56px);
            line-height: 58px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            }
            .p2{
                font-family: Manrope;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 0px;
                color: #ffffff8d;

            }
            button{
                color:#fff;
                background-color: #D87D4A;
                font-family: Manrope;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 1px;
                text-transform: uppercase;
                outline:none;
                width: 160px;
                height: 48px;
                padding:15px 29.5px 15px 31.5px;
                border:none;
            }
        }
        .img{
            width:65%;
            @media screen and (max-width:992px ){
                width: 100%;  
                height:auto;
            }
            @media screen and (max-width:767px ){
                width: 100%;  
                height:650px;
                padding-bottom:20px;
            }
        }
    }
}
.sections{
    padding:200px 165px ;
    @media screen and (max-width:992px ){
        padding: 80px 30px;
        }
    .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color:white;
        gap:5%;
            @media screen and (max-width:992px ){
                /* width:100%; */
                gap:60px;
            }
        .cards{
            width:30%;
            height:204px;
            display: flex;
            flex-direction: column;
            background-color: #F1F1F1;
            align-items: center; 
            gap:10px;
            @media screen and (max-width:992px ){
                width:100%;
                gap:20px;
            }
            img{
                width: 122.9473648071289px;
                height: 160px;
                margin-top:-70px;
                @media screen and (max-width:767px ){
                    width: 79px;
                    height: 102px;
                    margin-top:-40px;
                    
                }
            }
            h6{
                font-family: Manrope;
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 1.29px;
                text-align: center;
                text-transform: uppercase;
                /* color:#0000; */
            }
            p{
                font-family: Manrope;
                font-weight: 700;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 1px;
                text-transform: uppercase;
                svg{
                    color:#D87D4A;
                }
            }
        }
    }
}
.orange-section{
     @media screen and (max-width:992px ){
        padding: 20px 30px;
        }
    .container{
        height: auto;
        border-radius: 8px;
        margin-bottom:48px;
        background-color: #d87e4a;
        background-image: url(./images/Group\ 4.png);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding:95px 95px 0 117px;
        gap:138.28px;
        @media screen and (max-width:767px ){
        padding: 20px 0px;
        align-items: center;
        justify-content: center;
        gap:40px;
        }
        @media screen and (max-width:992px ){
            background-image: url(./images/Group\ 4\ \(1\).png);
            background-position: top;
            background-size: 103%;
        }
        
        .left{
            width:42%;
            @media screen and (max-width:767px ){
                padding-left:22%;
                width:100%;
            }
            img{
                width: 410.23358154296875px;
                height: 465px;
                @media screen and (max-width:767px ){
                    width: 172.2481689453125px;
                    height: 207px;
                }
            }
        }
        .right{
            width:33%;
            height: 303px;
            display: flex;
            flex-direction: column;
            gap:24px;
            padding-top:6%;
            @media screen and (max-width:992px ){
                padding:10px 200px;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            @media screen and (max-width:767px ){
                padding-top: 0;
                padding: 10px 100px;
            }
            h2{
                font-family: Manrope;
                font-weight: 700;
                font-size: clamp(36px, 7vw, 56px);
                line-height: 58px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            p{
                width: 349px;
                height: 75px;
                font-family: Manrope;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 0px;
                color: #ffffff8d;
                @media screen and (max-width:767px ){
                width:228px;
                height:75px;
               
                }
            }
            button{
                color:#fff;
                background-color: #000;
                font-family: Manrope;
                font-weight: 700;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 1px;
                text-transform: uppercase;
                outline:none;
                width: 160px;
                height: 48px;
                padding:15px 29.5px 15px 31.5px;
                border:none;
            }      
        }  
    }
}
.table{
    @media screen and (max-width:992px ){
        padding: 20px 30px;
    }
    .container{
        height:420px;
        background-image: url(./images/table.png);
        background-position-x: 54%;
        background-position-y: 88%;
        padding:137px 0 122px 118px;
        display: flex;
        flex-direction: column;
        gap:32px;
        margin-bottom: 48px;
        @media screen and (max-width:992px ){
        padding: 156px 0 122px 80px;
        height: 620px;
        }
        @media screen and (max-width:767px ){
            padding: 162px 0 122px 20px;
            height: 620px;
            background-position-x: 49%;
            background-position-y: 94%;
        }
        h2{
            font-family: Manrope;
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color:#000;
        }
        button{
            width: 160px;
            height: 48px;
            font-weight: 700;
            font-family: Manrope;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-width: 1px;
            background-color: #d7d9da;


           

        }
    }
}
.airpods{
    @media screen and (max-width:767px ){
        padding: 0 30px;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:2%;
        padding: 0;
        @media screen and (max-width:767px ){
            gap:20px;
        }
        .img{
            background-image: url(./images/airpods.png);
            background-position: center;
            background-size: cover;
            width: 49%;
            height: 320px;
            @media screen and (max-width:767px ){
                width:100%;
            }
        }
        .text{
            width: 49%;
            height: 320px;
            background-color: #F1F1F1;
            padding:101px 198px 101px 95px;
            display: flex;
            flex-direction: column;
            gap:32px;
            @media screen and (max-width:767px ){
                width:100%;
                padding:101px 19px 101px 19px;
                align-items: center;
                justify-content: center;
            }
            h3{
            font-family: Manrope;
            font-weight: 700;
            font-size: 28px;
            line-height: 100%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color:#000;
            }
            button{
                width: 160px;
                height: 48px;
                font-weight: 700;
                font-family: Manrope;
                font-size: 13px;
                line-height: 100%;
                letter-spacing: 1px;
                text-transform: uppercase;
                border-width: 1px;
                background-color: #d7d9da;
            }
        }
    }
}
.man{
    @media screen and (max-width:767px ){
        padding: 0 30px;
    }
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin-top: 200px;
        @media screen and (max-width:992px ){
            margin-top: 96px;
            
        }
        .left{
            width: 49%;
            height: 588px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media screen and (max-width:992px ){
                width: 100%;
                justify-content: center;
                order:1;
                height: 388px;
            }
            div{
                display: flex;
                flex-direction: column;
                gap:32px;
                width: 445px;
                height: 295px;
                @media screen and (max-width:992px ){
                    width: 573px;
                    height: 270px;
                    text-align: center;
                }
                
                h4{
                    font-family: Manrope;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 44px;
                    letter-spacing: 1.43px;
                    text-transform: uppercase;
                    color:#000;
                    span{
                        font-family: Manrope;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 44px;
                        letter-spacing: 1.43px;
                        text-transform: uppercase;
                        color:#D87D4A;

                    }

                }
                p{
                    font-family: Manrope;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0px;

                }
                

            }

        }
        .right{
            background-image: url(./images/man.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 49%;
            height: 588px;
            @media screen and (max-width:992px ){
                width: 100%;
                order:0;
            }
        }
    }
}
footer{
    background-color: #000;
    .container{
        margin-top: 200px;
        height:auto;
        padding: 75px 165px;
        display: flex;
        flex-direction: column;
        gap:36px;
        @media screen and (max-width:992px ){
            padding: 20px 30px;
        }
        @media screen and (max-width:767px ){
            align-items: center;
            justify-content: center;
        }
        .nav{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:767px ){
                align-items: center;
                justify-content: center;
            }
            .imaage{
                width:58%;
                @media screen and (max-width:767px ){
                    width:100%;
                }
                img{
                    width: 143px;
                    height: 25px; 
                    @media screen and (max-width:767px ){
                        width:100%;
                    }
            
                }
            }
            nav{
                width:42%;
                display: flex;
                flex-direction: row;
                color:#ffff;
                gap:34px;
                @media screen and (max-width:992px ){
                    width:100%; 
                    margin-top:6px;  
                }
                @media screen and (max-width:767px ){
                    width:100%; 
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    gap:10px;
                }
            }
        }
        .foot{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width:767px ){
                flex-direction: column;  
            }
            .para{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap:56px;
                    @media screen and (max-width:767px ){
                        width:100%;
                        gap:50px;  
                        align-items: center; 
                        justify-content: center;
                    }
                p{
                    width: 540px;
                    height: 100px;
                    font-family: Manrope;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0px;
                    color:#ffffffbe;
                    @media screen and (max-width:767px ){
                        width:100%;   
                        text-align: center;
                    }
                }
                .p3{
                    width: 540px;
                    height: 25px;
                    font-family: Manrope;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 0px;
                    @media screen and (max-width:767px ){
                        width:100%;   
                        text-align: center;
                    }
                }
            }
            .iconat{
                display: flex;
                flex-direction: row;
                gap:10px;
                color:#fff;
                @media screen and (max-width:767px ){
                    width:100%;   
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }
}